@(tasks: List[models.Task], taskForm: Form[models.Task])

@import helper._

@main("Todo list") {
    
    <h1>@tasks.size() Tarefa(s)</h1>
    
    <ul>
        @for(task <- tasks) {
            <li>
            <table border="0" style="background-color:#CCFF99;">
            <tr>
                <td>@task.getNome() ||</td>
                <td>@task.getProjeto() ||</td>
                <td>@task.getDescricao() ||</td>
                <td>@task.getPrioridade()</td>
                <td>@task.getStatus()</td>
                </tr></table>
 
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar">
                }
                @form(routes.Application.updateTask(task.getId(), true)) {
                    <input type="submit" value="Mudar">
                }
          
        }
    </ul>
    
    <h2>Adicionar uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("nome"), '_label -> "Nome:")
        @inputText(taskForm("projeto"), '_label -> "Projeto:")
        @inputText(taskForm("descricao"), '_label -> "Descrição:")
        <br>Prioridade:</br> <input taskForm("prioridade') type="number" name="Prioridade" min=1>
        
        <input type="submit" value="Criar">
        
    }
    
}